* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}

/*! Header*/

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 75px;
  background-color: /*#1a2021*/ #131314;
  display: flex;
}

/*! Logo*/

.logo {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo_link {
  height: 100%;
  padding: 7px;
  display: flex;
  align-items: center;
}
.logo_image {
  height: 100%;
  width: auto;
  display: block;
  position: relative;
  float: left;
}
.logo_name {
  display: block;
  position: relative;
  float: left;
  margin-left: 30px;
  font-family: poppins;
  font-size: 1.7rem;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 4px;
  color: #ca9a1d;
  background: -webkit-linear-gradient(left, #b7a25d, #ca9a1d);
  background: -o-linear-gradient(right, #b7a25d, #ca9a1d);
  background: -moz-linear-gradient(right, #b7a25d, #ca9a1d);
  background: linear-gradient(to right, #b7a25d, #ca9a1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*! Navigation*/
nav {
  display: block;
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  font-family: poppins;
  align-items: center;
}
nav ul {
  float: left;
}
.main_menu {
  height: 100%;
  width: 70%;
  justify-content: space-around;
  display: flex;
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;
  height: 100%;
}
nav ul li:hover{
  background-color: #2b2c35;
}
nav ul li:hover a{
  color: #ca9a1d;
  border-radius: 7px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #da91af;
  letter-spacing: 2px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #131314;
  padding: 10px;
  border-radius: 0px 0px 7px 7px;
}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  width: 200px;
  border-radius: 7px;
  list-style: none;
  color: #da91af;
  padding: 10px;
}
nav ul li ul li a {
  padding: 8px 14px;
}
nav ul li ul li a:hover {
  background-color: #3d3737;
  border-radius: 7px;
}
.menu_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.menu_item a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 3px;
  background: #da91af;
  /*#b37c92*/
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
  border-radius: 10px;
}
.menu_item a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
  background: #ca9a1d;
}

/*Languages menu*/
.language-menu{
  width: 25%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  padding-left: 0;
  padding-right: 0;
}
#croatian{
  padding-right: 5;
  padding-left: 5;
}
#english{
  padding-right: 5;
  padding-left: 5;
}
#italian{
  padding-right: 5;
  padding-left: 5;
}

/*! Burger menu for mobile view*/
.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 100%;
  transform: translate(-100%, 0px);
  z-index: 9999;
  margin-left: -15px;
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #da91af;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1216px) {
  body {
    overflow-x: hidden;
  }
  header {
    height: 60px;
  }
  .main_menu {
    position: absolute;
    z-index: 999;
    right: 0px;
    height: 100vh;
    top: 60px;
    background-color: #131314;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    transform: translateY(-110%);
    transition: transform 0.8s ease-in-out;
    border-radius: 0 0 0 8px;
  }
  .main_menu li {
    opacity: 0;
  }

  .main_menu {
    opacity: 1;
  }
  .burger {
    display: block;
  }

  .menu_active {
    transform: translateY(0%);
    height: 50vh;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /*! Additional formatting*/
  .logo_name {
    display: none;
  }
  nav ul li:hover ul {
    display: none;
  }
  #first_item_in_main_menu {
    margin: 0;
  }
}
@media screen and (max-width: 1218px) {
  .logo_name {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 1183px) {
  .logo_name {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1224px) {
  ul li a{
    font-size: 14px;
  }
  #language{
    font-size: 10px;
  }
}
@media screen and (max-width: 1316px) {
  .menu_item{
    font-size: 14px;
  }
}
@media screen and (max-width: 1215px) {
  .menu_item{
    font-size: 11px;
  }
}
@media screen and (max-width: 1220px) {
  .logo_name{
    font-size: 25px;
  }
}

/*! Fonts and animations*/
@font-face {
  font-family: "poppins";
  src: url("../fonts/PoppinsRegular.ttf");
}
@font-face {
  font-family: "poiret";
  src: url("../fonts/PoiretRegular.ttf");
}
@font-face {
  font-family: "fredoka";
  src: url("../fonts/FredokaRegular.ttf");
}


/*
! COLORS: 
pink - #da91af
gold - #ca9a1d
yellow - #b7a25d
black-ish - #131314

#1a2021
#131314
#ca9a1d
#b7a25d
#2b2c35
#da91af
#3d3737
*/
